*.DS_Store
*.aux
*.log
*.bbl
*.blg
*.out
*.toc
*.bak
*.synctex.gz
*.m4a
*.nav
*.snm
*.pages
*.rtfd
*.synctex
PatternMatching/Presentations/ITA_2017_annotated.pdf
PatternMatching/Presentations/ITA_2017.pdf
PatternMatching/Presentations/ITA_2017_bkp.pdf
*.xml
PatternMatching/Presentations/ITA_2017-blx.bib
*.pdf
PatternMatching/Papers/KDD/kdd_main.pdf
